/* AboutMePage.css */
html,
body,
.page-container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide any overflow to prevent scrollbar */
}

.content-container {
  background-color: #f0f0f0;
  height: 100%;
  overflow-y: auto; /* Add scrollbar for content overflow */
}
@media (max-width: 768px) {
  .content-container .card {
    width: 100%;
    margin: 0; /* Removes any extra margin around the card */
    border: none; /* Optional: Remove the border if still present */
    box-shadow: none; /* Optional: Remove the shadow if still present */
  }
}

 
.content-container .card-text {
  border: none;
  box-shadow: none;
}

